<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="formulario para registro a cursos de Unatsi">
    <meta name="author" content="Isaac Rodas Caceres">
    <meta name="reply-to" content="unatsiedu@gmail.com">
    <meta name="keywords" content="Formulario,Unatsi,cursos,desarrollo web,páginas web,cursos de desarrollo web,como hacer una página web?,programar,como aprender a programar?">
    <meta name="DateCreated" content="Sun, 20 March 2022 00:00:00 GMT+1">
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <title><%= nombre %> </title>
</head>
<body>
    <h1 style="margin-bottom: 12px;"><%= mensaje %></h1>
    <a style="text-decoration: none; color:rgb(47, 4, 104); font-size: 28px; " href="/">Inicio</a>
</body>
</html>