<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="formulario para registro a cursos de Unatsi">
    <meta name="author" content="Isaac Rodas Caceres">
    <meta name="reply-to" content="unatsiedu@gmail.com">
    <meta name="keywords" content="Formulario,Unatsi,cursos,desarrollo web,páginas web,cursos de desarrollo web,como hacer una página web?,programar,como aprender a programar?">
    <meta name="DateCreated" content="Sun, 20 March 2022 00:00:00 GMT+1">

    <title>Admin</title>
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/administracion.css">
</head>
<body>
    <main class="container-admin">
            <h1 class="h1">Admin</h1>
        <form action="https://www.unatsi.com/admin" method="post" class="formulario-admin">
            <div class="inputs">
                <label class="label" for="fecha">Fecha</label>
                <input class="fecha" id="fecha" type="text" name="fecha" value="<%= fecha.fecha %> ">
            </div>
            <div class="inputs">
                <label class="label" for="contraseña">Contraseña</label>
                <input class="contraseña" id="contraseña" type="password" name="contraseña">
            </div>
            
            <input class="button-submit" type="submit">
        </form>
    </main>
    
</body>
</html>