<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="formulario para registro a cursos de Unatsi">
    <meta name="author" content="Isaac Rodas Caceres">
    <meta name="reply-to" content="unatsiedu@gmail.com">
    <meta name="keywords" content="Formulario,Unatsi,cursos,desarrollo web,p치ginas web,cursos de desarrollo web,como hacer una p치gina web?,programar,como aprender a programar?">
    <meta name="DateCreated" content="Sun, 20 March 2022 00:00:00 GMT+1">
    
    <title>Registro aprobado</title>
    <link rel="stylesheet" href="/styles/exito.css">
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">

</head>
<body>
    <div class="container-succes-flex">
        <div class="container-succes">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" fill="#ebebeb"/>
                <path d="M24 4C12.972 4 4 12.972 4 24C4 35.028 12.972 44 24 44C35.028 44 44 35.028 44 24C44 12.972 35.028 4 24 4ZM24 40C15.178 40 8 32.822 8 24C8 15.178 15.178 8 24 8C32.822 8 40 15.178 40 24C40 32.822 32.822 40 24 40Z" fill="#6C63FF"/>
                <path class="chulito" d="M19.998 27.174L15.4 22.584L12.576 25.416L20.002 32.826L33.414 19.414L30.586 16.586L19.998 27.174Z" fill="#6C63FF"/>
                </svg>
            <div class="container-info">
                <h1>Registro exitoso</h1>
                <div class="container-info2">

                    <h3 class="info">Para m치s informaci칩n, ingrese al link de telegram <a class="link" href="https://t.me/unatsieducacion">t.me/unatsieducacion</a> O Whatsapp <a class="link" href="https://chat.whatsapp.com/EOlmiU6UOTR0roNfPhFWkZ">Unatsi</a></h3>
                </div>

            </div>
    </div>
</body>
</html>