<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="formulario para registro a cursos de Unatsi">
    <meta name="author" content="Isaac Rodas Caceres">
    <meta name="reply-to" content="unatsiedu@gmail.com">
    <meta name="keywords" content="Formulario,Unatsi,cursos,desarrollo web,páginas web,cursos de desarrollo web,como hacer una página web?,programar,como aprender a programar?">
    <meta name="DateCreated" content="Sun, 20 March 2022 00:00:00 GMT+1">

    <title>Unatsi: Cursos online de Calidad</title>
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6323026865272288"
     crossorigin="anonymous"></script>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QEDR8FV16G"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QEDR8FV16G');
    </script>
    
    
</head>
<body>
    <header class="header">
        <nav class="navegacion">
            <div class="container-nav">
                <img class="logo-principal" src="/assets/unatsi.png" alt="unatsi">
            <a href="http://www.unatsi.com/registro" class="link-registrarse">Registrarse</a>
            </div>
            
        </nav>
        <div class="container-h1-flex">
            <div class="container-h1">
                <h1 class="titulo">
                    Educación de <span id="letter">Calidad</span>
                </h1>
                <p class="p-header">#EL arte de aprender </p><p class="cursor-maquina"></p>
                <div class="container-date container-date-principal">
                    <h2 class="proxima-clase">Proxima clase en</h2>
                    <div class="container-date2">
                        <div class="fecha-divs">
                            <h3 class="item-h3">Días</h3>
                            <h4 class="dia">0</h4>
                        </div>
                        <div class="fecha-divs">
                                <h3 class="item-h3">Horas</h3>
                                <h4 class="hora">0</h4>
                        </div>
                        <div class="fecha-divs">
                                <h3 class="item-h3">Minutos</h3>
                                <h4 class="minuto">0</h4>
                        </div>
                        <div class="fecha-divs">
                                <h3 class="item-h3">Segundos</h3>
                                <h4 class="segundo">0</h4>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
            
    </header>
    <main>
        <section class="secciones-unatsi">
                <div class="container-seccion">
                    <div class="container-seccion2">
                        <h3 class="titulo-html-seccion">Desarrollo web y otras tecnologías.</h3>
                        <p class="p-titulo-html-seccion">Aprende HTML, CSS, JS, REACT, NODE, ANGULAR, VUE, PHP, PYTHON...</p>
                    </div>  
                    <svg class="html-seccion animacion1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                viewBox="0 0 1280 720" style="enable-background:new 0 0 1280 720;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#FF4613;}
                        .st1{fill:#006FB9;}
                        .st2{fill:#FFCB10;}
                    </style>
                    <g>
                        <g>
                            <g>
                                <g>
                                    <path class="st0" d="M409.3,9.9h32.2v31.3H471V9.9h32.2v94.8H471V73h-29.5v31.7h-32.2V9.9L409.3,9.9z"/>
                                    <path class="st0" d="M545.6,41.3h-28.4V9.9h89v31.4h-28.4v63.4h-32.2L545.6,41.3L545.6,41.3z"/>
                                    <path class="st0" d="M620.4,9.9H654l20.7,33.3l20.7-33.3h33.6v94.8h-32.1v-47l-22.2,33.7h-0.6l-22.2-33.7v47h-31.5L620.4,9.9
                                        L620.4,9.9z"/>
                                    <path class="st0" d="M744.9,9.9h32.2v63.5h45.3v31.3h-77.5L744.9,9.9L744.9,9.9z"/>
                                </g>
                                <path class="st0" d="M362.2,148l46.1,508.4l206.8,56.5l207.4-56.5L868.7,148H362.2z M772.6,268.7l-2.9,31.6l-1.3,14h-0.2H615.4
                                    h-0.2h-89.5l5.8,63.8h83.7h0.2h130.1h17.1l-1.6,16.7l-14.9,164.2l-1,10.5L615.4,605v0l-0.3,0.1l-129.9-35.5l-8.9-97.9h29.3H540
                                    l4.5,49.7l70.6,18.7l0.1,0l0,0l70.7-18.8l7.4-80.9h-77.9h-0.2H473.6L458,268.7l-1.5-16.7h158.8h0.2h158.6L772.6,268.7z"/>
                            </g>
                        </g>
                    </g>
                    <g id="g3013_2_" transform="translate(119,276.3622)">
                        <g>
                            <path id="path2999_9_" class="st1" d="M-33.4-171.3h52.6v24.7h-30.6v24.7h30.6v24.7h-52.6V-171.3z"/>
                            <path id="path3001_9_" class="st1" d="M29.8-171.3h52.6v21.5H51.8v4.3h30.6v49.3H29.8v-22.5h30.6v-4.3H29.8V-171.3z"/>
                            <path id="path3003_9_" class="st1" d="M92.9-171.3h52.6v21.5h-30.6v4.3h30.6v49.3H92.9v-22.5h30.6v-4.3H92.9V-171.3z"/>
                            <path class="st1" d="M-115-63.4l31.6,397.2l141.7,44.1l142.1-44.2l31.6-397.1L-115-63.4L-115-63.4z M159.2,116.4l-1.1,13.1
                                L148,257.8l-0.7,8.2l-88.9,27.6v0l-0.2,0.1l-89-27.7l-6.1-76.5h20.1H6.8l3.1,38.9L58.2,243l0,0l0,0l48.4-14.7l5-63.2H58.4h-0.1
                                h-97l-3.9-48.7H58.3h0.1h57.1l3.9-49.9h-61h-0.1H-46.5l-3.9-48.7H58.3h0.1h108.6L159.2,116.4z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path class="st2" d="M1078.1,212.4H881.2l36.9,396.9l160,45l159.9-45l37-396.9L1078.1,212.4L1078.1,212.4z M1178.9,541.7
                                l-100.8,28.4l-100.8-28.4l-7.1-76h49.8l3.3,38l54.8,15.7l54-15.4l5.5-62.9h-59.5H968.3l-0.3,0.9l13.8-148.6h96.2h103.1l11,77.8
                                h-50.2l-1.8-28.5h-62h-55.8l-2.3,49.8h58.1h114.6L1178.9,541.7z"/>
                            <g>
                                <polygon class="st2" points="1039.8,153.9 1004.8,153.9 1004.8,178.8 1039.8,178.8 1058.5,178.8 1064.9,178.8 1064.9,104.7 
                                    1039.8,104.7 			"/>
                                <path class="st2" d="M1151.4,105.1h-61.1c0,0,0,13,0,26c8.2,8.1,12.4,12,24.3,23.7c-6.9,0-24.3,0-24.3,0v23.7h61.1v-23.7
                                    L1127,131h24.4V105.1z"/>
                            </g>
                        </g>
                    </g>
                    </svg>

                </div>
        </section>
        <section class="secciones-unatsi">
            <div class="container-seccion container-seccion-alternate">
                <img class="html-seccion2" src="/assets/CURSO_DE_HTML5_DE_CERO_2022__2_ETIQUETAS_DE_CONTENIDO.gif" alt="Cursos-unatsi">
                <div class="container-seccion2 container-seccion2-2">
                    <h3 class="titulo-html-seccion titulo-html-seccion2">Clases virtuales en directo.</h3>
                    <p class="p-titulo-html-seccion p-titulo-html-seccion2">Participe en clases online y videos grabados con los mejores profesores.</p>
                </div>  
            </div>
        </section>
        <section class="secciones-unatsi">
            <div class="container-seccion">
                <div class="container-seccion2">
                    <h3 class="titulo-html-seccion">Conecta con otras personas.</h3>
                    <p class="p-titulo-html-seccion">Participa en foros, blogs y grupos en los que podrás compartir tus conocimientos.</p>
                </div>  
                <img class="html-seccion2 animation2" src="/assets/conect.svg" alt="Conectados">
            </div>
    </section>
    <section class="container-ask">
        <div class="ask">
            <h2 class="titulo-ask">Preguntas frecuentes</h2>
            <div class="container-button">
                <button class="button-ask evento" data-ask="1">
                    <p class="p-ask evento parrafo-validar" data-ask="1">¿Qué es Unatsi?</p>
                    <img class="flecha-abajo evento flecha-validar" src="/assets/flecha-abajo.png" alt="direccionamiento" data-ask="1">
                </button>
                <span class="respuesta closed" data-ask="1">
                    <p>Unatsi es una plataforma de cursos digitales donde podrás aprender junto a instructores capacitados en el area de: Desarrollo web, inteligencia artificial, desarrollo de sofware, entre otras areas.</p>
                    <p><br>Por ahora solo brindamos cursos de desarrollo web; Unatsi fue fundado el 2 de marzo del 2022 por Isaac Rodas y desde entonces estamos trabajando de la mano de nuestra comunidad para seguir creciendo.</p>
                </span>
            </div>
            <div class="container-button">
                <button class="button-ask evento" data-ask="2">
                    <p class="p-ask evento parrafo-validar" data-ask="2">¿Cuánto cuesta Unatsi?</p>
                    <img class="flecha-abajo evento flecha-validar" src="/assets/flecha-abajo.png" alt="direccionamiento" data-ask="2">
                </button>
                <span class="respuesta closed" data-ask="2">
                    <p>Por el momento, Unatsi es completamente gratis, puedes disfrutar de todos los servicios incluyendo los cursos, seminarios y clases grabadas sin ningún costo</p>
                </span>
            </div>
            <div class="container-button">
                <button class="button-ask evento" data-ask="3">
                    <p class="p-ask evento parrafo-validar" data-ask="3">¿Cómo puedo ser parte de Unatsi?</p>
                    <img class="flecha-abajo evento flecha-validar" src="/assets/flecha-abajo.png" alt="direccionamiento" data-ask="3">
                </button>
                <span class="respuesta closed" data-ask="3">
                    <p>Puedes unirte a los grupos de whatsapp o telegram donde podrás encontrar a muchas personas que ya están contando con los servicios de Unatsi. Adicional a eso, puedes ver nuestro canal de YouTube donde podrás encontrar las clases grabadas hasta la fecha o visitar nuestra página de Facebook donde compartimos los próximos eventos</p>
                </span>
            </div>
            <div class="container-button">
                <button class="button-ask evento" data-ask="4">
                    <p class="p-ask evento parrafo-validar" data-ask="4">¿Dónde puedo ver los cursos?</p>
                    <img class="flecha-abajo evento flecha-validar" src="/assets/flecha-abajo.png" alt="direccionamiento" data-ask="4">
                </button>
                <span class="respuesta closed" data-ask="4">
                    <p>Puedes ver los cursos en vivo a través de diversas plataformas virtuales, como también puedes verlos grabados en nuestra página de YouTube: Unatsi</p>
                </span>
            </div>
        </div>

    </section>
  
    </main>
    <footer class="footer1">
        <div class="footer">
            <div class="redes">
                <a href="https://unatsi.com"><img class="logo-principal logo-footer" src="/assets/unatsi.png" alt="Unatsi-footer"></a>
                <div class="redes-sociales">
                    <a href="https://wa.me/message/VMIAFIDGEOUDJ1" target="_blank">
                        <svg class="redes-unatsi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgb(255, 255, 255);"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.403 5.633A8.919 8.919 0 0 0 12.053 3c-4.948 0-8.976 4.027-8.978 8.977 0 1.582.413 3.126 1.198 4.488L3 21.116l4.759-1.249a8.981 8.981 0 0 0 4.29 1.093h.004c4.947 0 8.975-4.027 8.977-8.977a8.926 8.926 0 0 0-2.627-6.35m-6.35 13.812h-.003a7.446 7.446 0 0 1-3.798-1.041l-.272-.162-2.824.741.753-2.753-.177-.282a7.448 7.448 0 0 1-1.141-3.971c.002-4.114 3.349-7.461 7.465-7.461a7.413 7.413 0 0 1 5.275 2.188 7.42 7.42 0 0 1 2.183 5.279c-.002 4.114-3.349 7.462-7.461 7.462m4.093-5.589c-.225-.113-1.327-.655-1.533-.73-.205-.075-.354-.112-.504.112s-.58.729-.711.879-.262.168-.486.056-.947-.349-1.804-1.113c-.667-.595-1.117-1.329-1.248-1.554s-.014-.346.099-.458c.101-.1.224-.262.336-.393.112-.131.149-.224.224-.374s.038-.281-.019-.393c-.056-.113-.505-1.217-.692-1.666-.181-.435-.366-.377-.504-.383a9.65 9.65 0 0 0-.429-.008.826.826 0 0 0-.599.28c-.206.225-.785.767-.785 1.871s.804 2.171.916 2.321c.112.15 1.582 2.415 3.832 3.387.536.231.954.369 1.279.473.537.171 1.026.146 1.413.089.431-.064 1.327-.542 1.514-1.066.187-.524.187-.973.131-1.067-.056-.094-.207-.151-.43-.263"></path></svg>
                    </a>
                    <a href="https://www.youtube.com/channel/UCRaH5P5zDGX59xG3zO96l2g" target="_blank">
                        <svg class="redes-unatsi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgb(255, 255, 255);"><path d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"></path></svg>
                    </a>
                    <a href="https://www.facebook.com/Unatsi" target="_blank">
                        <svg class="redes-unatsi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgb(255, 255, 255);"><path d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"></path></svg>
                    </a>
                    
                    <a href="https://t.me/unatsieducacion" target="_blank">
                        <svg class="redes-unatsi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgb(255, 255, 255);"><path d="m20.665 3.717-17.73 6.837c-1.21.486-1.203 1.161-.222 1.462l4.552 1.42 10.532-6.645c.498-.303.953-.14.579.192l-8.533 7.701h-.002l.002.001-.314 4.692c.46 0 .663-.211.921-.46l2.211-2.15 4.599 3.397c.848.467 1.457.227 1.668-.785l3.019-14.228c.309-1.239-.473-1.8-1.282-1.434z"></path></svg>
                    </a>
                    
                </div>
            </div>
            <div class="otros-footer">
                <a href="#" class="link-footer">Términos de uso</a>
                <a href="#" class="link-footer">Preguntas frecuentes</a>
                <a href="#" class="link-footer">Politicas de privacidad</a>
                <a href="#" class="link-footer">Ayuda</a>
                <a href="#" class="link-footer">Contáctenos</a>
            </div>
            
        </div>
        <p class="unatsi-footer">Unatsi 💜</p>
    </footer>

    <script src="/maquina.js"></script>
    <script src="/fecha-index.js"></script>
    <script src="/evento-preguntas.js"></script>
</body>
</html>