<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="formulario para registro a cursos de Unatsi">
    <meta name="author" content="Isaac Rodas Caceres">
    <meta name="reply-to" content="unatsiedu@gmail.com">
    <meta name="keywords" content="Formulario,Unatsi,cursos,desarrollo web,páginas web,cursos de desarrollo web,como hacer una página web?,programar,como aprender a programar?">
    <meta name="DateCreated" content="Sun, 20 March 2022 00:00:00 GMT+1">

    <title>Registro</title>
    <link rel="stylesheet" href="/styles/formulario.css">
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!--Google adsense-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6323026865272288"
     crossorigin="anonymous"></script>
</head>
<body>
    <header class="cabecera">
        <nav class="nav">
           <a href="http://www.unatsi.com">
               <img class="logo-principal" src="/assets/unatsi.png" alt="Logo-unatsi">
           </a>
        </nav>
    </header>   
        <main class="container-formulario">
            <h1 class="h1">Registrarse</h1>
            <div class="card">
                
                <form class="formulario">
                    <div class="container-group">
                        
                        <h3>Nombre</h3>
                        <input type="text" class="input nombre" name="nombre">
                        <p class="p-error p-nombre">Ingrese un nombre valido</p>
                    </div>
                    <div class="container-group">
                        
                        <h3>Apellidos</h3>
                        <input type="text" class="input apellidos" name="apellidos">
                        <p class="p-error p-apellidos">Verifique su apellido valido</p>
                    </div>
                    <div class="container-group">
                        
                        <h3>Correo electrónico</h3>
                        <input type="email" class="input email" name="email">
                        <p class="p-error p-email">Ingrese un email valido</p>
                    </div>
                    <div class="container-group">
                        
                        <h3>País</h3>
                        <input type="text" class="input pais" name="pais" placeholder="Ejemplo: Colombia, Perú, Chile...">
                        <p class="p-error p-pais">Ingrese un pais valido</p>
                    </div>
                    <div class="container-group">
                        
                        <h3>Número de teléfono</h3>
                        <input type="number" class="input telefono" name="telefono" placeholder="Ejemplo: +57 ...">
                        <p class="p-error p-telefono">Verifique su número de telefono</p>
                    </div>
                    <div class="container-group btn-enviar">

                        <input type="submit" class="btn-submit" value="Registrarse">
                    </div>
                </form>
            </div>
            
        </main>
<script src="/registro.js"></script>
</body>
</html>