<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="formulario para registro a cursos de Unatsi">
    <meta name="author" content="Isaac Rodas Caceres">
    <meta name="reply-to" content="unatsiedu@gmail.com">
    <meta name="keywords" content="Formulario,Unatsi,cursos,desarrollo web,páginas web,cursos de desarrollo web,como hacer una página web?,programar,como aprender a programar?">
    <meta name="DateCreated" content="Sun, 20 March 2022 00:00:00 GMT+1">

    <title>Unatsi-formulario</title>
    <link rel="stylesheet" href="/styles/formulario.css">
    <link rel="shortcut icon" href="styles//assets/icon.png" type="image/x-icon">
    <!--Google adsense-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6323026865272288"
     crossorigin="anonymous"></script>
</head>
<body>
    <header class="cabecera">
        <nav>
            <h1 class="formulario-title">Formulario</h1>
        </nav>
    </header>
    <div class="container">
        <div class="container-fecha">
            <img src="/assets/Sin título-5.png" alt="Unatsi" class="imagen-unatsi">
            <div class="container-date container-date-principal">
                <h2 class="proxima-clase">Proxima clase en</h2>
                <div class="container-date2">
                    <div class="fecha-divs">
                        <h3 class="item-h3">Días</h3>
                        <h4 class="dia">0</h4>
                    </div>
                    <div class="fecha-divs">
                            <h3 class="item-h3">Horas</h3>
                            <h4 class="hora">0</h4>
                    </div>
                    <div class="fecha-divs">
                            <h3 class="item-h3">Minutos</h3>
                            <h4 class="minuto">0</h4>
                    </div>
                    <div class="fecha-divs">
                            <h3 class="item-h3">Segundos</h3>
                            <h4 class="segundo">0</h4>
                    </div>
                </div>    
            </div>
        </div>
        
        <div class="container-formulario">

            <div class="card">
                <div class="container-date container-date-segundario">
                    <h2 class="proxima-clase">Proxima clase en</h2>
                    <div class="container-date2">
                        <div class="fecha-divs">
                            <h3 class="item-h3">Días</h3>
                            <h4 class="dia dia2">0</h4>
                        </div>
                        <div class="fecha-divs">
                                <h3 class="item-h3">Horas</h3>
                                <h4 class="hora hora2">0</h4>
                        </div>
                        <div class="fecha-divs">
                                <h3 class="item-h3">Minutos</h3>
                                <h4 class="minuto minuto2">0</h4>
                        </div>
                        <div class="fecha-divs">
                                <h3 class="item-h3">Segundos</h3>
                                <h4 class="segundo segundo2">0</h4>
                        </div>
                    </div>    
                </div>
                <form class="formulario" method="post" action="/">
                    <div class="container-group">
                        
                        <h3>Nombre</h3>
                        <input type="text" class="input nombre" name="nombre">
                    </div>
                    <div class="container-group">
                        
                        <h3>Apellidos</h3>
                        <input type="text" class="input apellidos" name="apellidos">
                    </div>
                    <div class="container-group">
                        
                        <h3>Correo electrónico</h3>
                        <input type="email" class="input email" name="email">
                    </div>
                    <div class="container-group">
                        
                        <h3>País</h3>
                        <input type="text" class="input telefono" name="pais" placeholder="Ejemplo: Colombia, Perú, Chile...">
                    </div>
                    <div class="container-group">
                        
                        <h3>Número de teléfono</h3>
                        <input type="number" class="input telefono" name="telefono" placeholder="Ejemplo: +57 ...">
                    </div>
                    <div class="container-group btn-enviar">

                        <input type="submit" class="btn-submit" value="Registrarse">
                    </div>
                    <img src="/assets/Sin título-5.png" alt="Unatsi" class="img-formulario">
                </form>
            </div>
            
        </div>
    </div>

<script src="fecha.js"></script>
</body>
</html>