*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #0d1018;
}

.cabecera{
    padding-top: 15px;
}
.nav{
    max-width: 1700px;
    margin: 0 auto;
}
.logo-principal{
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    padding: 7px;
    margin: 0px 0 30px 12px;
}
.h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 22px;
    color: #fff;
}
.container-formulario{
    margin: 0 auto;
    width: 300px;
}
.container-group{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 5px;
    background-color: #0d1018;
}
h3{
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 12px;
    color: rgb(142, 142, 142);
}
.input{
    padding: 26px 12px 14px;
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    border: 1px solid #8f888f;
    border-radius: 4px;
    color: #fff;
    background-color: #0d1018;
    
}
.input:focus{
    outline: 1px solid #f700ff;
}
.btn-submit{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #8b178f;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.btn-submit:hover{
    background-color: #ab2daf;
}
.p-error{
    font-size: 13px;
    color: #ab2daf;
    font-weight: 400;
    display: none;
}
.p-error-active{
    display: block;
}
.input-error{
    border: 1.5px solid #f0ff1a;
    animation-name: error;
    animation-duration: .5s;

}
@keyframes error {
    0%{
        margin-left: 4px;
    }
    15%{
        margin-left: -4;
    }
    30%{
        margin-left: 4px;
    }
    45%{
        margin-left: -4px;
    }
    60%{
        margin-left: 4px;
    }
    75%{
        margin-left: -4px;
    }
    100%{
        margin-left: 0;
    }
}

@media (max-width:740px) {
    .logo-principal{
        margin-bottom: 60px;
    }
    .container-formulario{
        width: 95%;
    }
    .container-group{
        width: 100%;
    }
    .input{
        width: 100%;
    }
    .btn-submit{
        width: 100%;
    }
}